name: Frontend CI/CD

on:
  pull_request_target:
    types: [labeled, synchronize] # 只有打标签或 PR 更新时触发

jobs:
  # 1. 在 GitHub 免费资源上构建并推送
  build-and-push:
    # 仅当 PR 带有 'ok-to-test' 标签，或者是组织内部成员提交时运行
    if: |
      contains(github.event.pull_request.labels.*.name, 'ok-to-test') ||
      github.event.pull_request.author_association == 'MEMBER' ||
      github.event.pull_request.author_association == 'OWNER'
    runs-on: ubuntu-latest  # 使用 GitHub 免费算力
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .         # 必须确保这一行存在，它代表使用 checkout 后的当前路径
          file: ./Dockerfile  # 明确指定 Dockerfile 路径
          push: true
          # 禁用所有缓存，彻底杀掉那个旧域名
          no-cache: true
          pull: true          # 强制拉取最新的基础镜像
          # 这样会触发 Dockerfile 里的 npm install 和 npm build
          tags: ghcr.io/wireflowio/wireflow-web:dev